<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example.onsenuidemo1"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Onsen UI Demo1</name>

    <description>
        An example for phonegap build & Onsen UI
    </description>

    <author href="https://build.phonegap.com" email="willy_chch@hotmail.com">
        Willy Yu
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <gap:plugin name="nl.x-services.plugins.calendar" version="4.2.4" />

</widget>